<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true">
    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOGS" value="./gp" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/core.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/gp_merchant-%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            <maxHistory>365</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

<!--    <logger name="org.hibernate" additivity="false" level="INFO">-->
<!--        <appender-ref ref="Console" />-->
<!--        <appender-ref ref="RollingFile" />-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.SQL" additivity="false" level="TRACE">-->
<!--        <appender-ref ref="Console" />-->
<!--        <appender-ref ref="RollingFile" />-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.type" additivity="false" level="INFO">-->
<!--        <appender-ref ref="Console" />-->
<!--        <appender-ref ref="RollingFile" />-->
<!--    </logger>-->

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

</configuration>